$arrow-size: 8px !default;
$selection-radius: 10px !default;
$selection-radius-percent: 50% !default;
$selection-margin: 5px !default;
$tilr-color: #2696BA;
$ns: DateRangePicker !default;

.#{$ns} {
  display: inline-block;
  font-family: Rubik;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  user-select: none;

  &__Legend {
    color: #52575e;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
  }

  &__LegendItem {
    display: inline-block;
    margin: 0 20px;
  }

  &__LegendItemColor {
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    margin-right: 6px;
    vertical-align: text-bottom;
    width: 14px;
    border: 1px solid rgba(#000, .25);

    &--selection {
      background-color: #2696BA;
    }
  }

  &__PaginationArrow {
    border: 0;
    cursor: pointer;
    display: block;
    height: 35px;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 35px;
    z-index: 1;

    &--previous {
      left: 20px;
    }

    &--next {
      right: 20px;
    }

    &:hover {
      background-color: #ccc;
    }
  }

  &__PaginationArrowIcon {
    border-bottom: $arrow-size solid transparent;
    border-top: $arrow-size solid transparent;
    height: 0;
    position: absolute;
    top: 10px;
    width: 0;

    &--is-disabled {
      opacity: .25;
    }

    &--previous {
      border-left: $arrow-size solid transparent;
      border-right: $arrow-size solid #aaa;
      right: 10px / 2 - ($arrow-size / 2);
    }

    &--next {
      border-left: $arrow-size solid #aaa;
      border-right: $arrow-size solid transparent;
      left: 30px / 2 - ($arrow-size / 2);
    }
  }

  //Changes the month display
  &__Month {
    color: #4f514f;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    user-select: none;
    width: 275px;
  }

  &__MonthHeader {
    color: #4f514f;
    font-size: 18px;
    opacity: 0.8;
    font-weight: 500;
    height: 35px;
    line-height: 1.33;
    position: relative;
    text-align: center;
  }

  &__MonthHeaderLabel {
    display: inline-block;
    position: relative;
  }

  &__MonthHeaderSelect {
    background: #e4e4e4;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  &__MonthDates {
    border-bottom: 1px solid #f4f5f6;
    border-collapse: separate;
    border-spacing: 0 1px;
    margin: 0;
    width: 100%;
  }

  &__WeekdayHeading,
  &__Date {
    font-size: 12px;
    line-height: 1;
    padding: 15px 10px;
    text-align: center;
    width: 14.285714285714286%;
  }

  &__WeekdayHeading {
    width: 24px;
    height: 16px;
    opacity: 0.4;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #526173;


    abbr[title] {
      border-bottom-width: 0;
      color: #000;
      cursor: pointer;
      font-size: inherit;
      text-decoration: none;
    }
  }

  &__Date {
    border: 0 solid #2696BA;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    color: black;

    &--weekend {
      background-color: #f6f7f9;
    }

    &--otherMonth {
      opacity: .25;
    }

    &--is-disabled {
      color: #cdcdd1;
      cursor: default;
    }

    &--is-selected {
      color: #fff;

    }

    &--is-highlighted {
      color: #333;
    }
  }

  &__CalendarDatePeriod {
    bottom: 0;
    position: absolute;
    top: 0;

    &--am {
      left: 0;
      right: 50%;
    }

    &--pm {
      left: 50%;
      right: 0;
    }
  }

  &__CalendarSelection {
    bottom: $selection-margin;
    top: $selection-margin;
    left: 0;
    right: 0;
    position: absolute;


    &--inOtherMonth {
      opacity: .5;
    }

    &--start {
      border-bottom-left-radius: $selection-radius-percent;
      border-top-left-radius: $selection-radius-percent;
      left: 5px
    }

    &--end {
      border-bottom-right-radius: $selection-radius-percent;
      border-top-right-radius: $selection-radius-percent;
      right: 5px;
    }

    &--segment {
      border-left-width: 0;
      border-right-width: 0;
    }

    &--single {
      border-radius: $selection-radius-percent;
      left: $selection-margin;
      right: $selection-margin;
    }

    &--is-pending {
      background-color: #87BAC9;
    }
  }

  &__CalendarHighlight {
    background-color: rgba(255, 255, 255, .25);
    border: 2px solid #2696BA;
    bottom: $selection-margin;
    top: $selection-margin;
    left: 0;
    position: absolute;
    right: 0;

    &--inOtherMonth {
      opacity: .5;
    }

    &--unslected {

    }

    &--start {
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      left:  $selection-margin;
    }

    &--end {
      //border-bottom-right-radius: 50%;
      //border-top-right-radius: 50%;
      border-bottom-right-radius: $selection-radius;
      border-left-width: 0;
      border-top-right-radius: $selection-radius;
      right: $selection-margin;
    }

    &--segment {
      //border-left-width: 1px;
      //border-right-width: 1px;
      //border-color: #2696BA;
      border-left-width: 0;
      border-right-width: 0;
    }

    &--single {
      //left: $selection-margin;
      //right: $selection-margin;
      //border-radius: 0;
      background-color: #fff;
      color: black;
      border: 1px solid darken(#2696BA, 5);
      border-radius: $selection-radius-percent;
      //left: $selection-margin;
      //right: $selection-margin;
    }
  }

  &__FullDateStates {
    bottom: $selection-margin;
    left: 0;
    top: $selection-margin;
    position: absolute;
    right: 0;
  }

  &__DateLabel {
    position: relative;
    display: block;
    width: 100%;
    font-family: Rubik;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    z-index: 2;

  }
}
